{{#if url_list}}
	<h3 class="black-header"><B><U>Following are the shortened URLs: </U></B></h3>
	</br>
	<table class="table table-striped">
	  <thead>
	    <tr>	      
	      <th class="table_head" scope="col">Short URL</th>
	      <th class="table_head" scope="col">Long URL</th>
	      <th class="table_head" scope="col">Counter</th>
	      <th class="table_head" scope="col"></th>
	      <th class="table_head" scope="col"></th>
	    </tr>
	  </thead>
	  <tbody class="table_body">
		{{#each url_list}}
			<tr class="table_body">
		      <th class="table_body" scope="row">{{this.shorturl}}</th>
		      <td class="table_body">{{this.long_url}}</td>
		      <td class="table_body">{{this.counter}}</td>
		      <td class="table_body"><a _id="{{this._id}}" class="btn btn-primary btn-delete-url">Delete</a></td>
		      <td class="table_body"><a _id="{{this._id}}" class="btn btn-primary btn-graph-url">Graph</a></td>
	    	</tr>
		  
		{{/each}}
	  </tbody>
	</table>
{{else}}
	<h4> There are no urls present against this id </h4> 

{{/if}}

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/js/delete.js"></script>